-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: db_gestao_epi
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `assinatura_eletronica`
--

DROP TABLE IF EXISTS `assinatura_eletronica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assinatura_eletronica` (
  `ass_id` int(11) NOT NULL AUTO_INCREMENT,
  `fun_id` int(11) NOT NULL,
  `usu_id` int(11) NOT NULL,
  `ass_senha_hash` varchar(255) NOT NULL,
  `ass_salt` varchar(255) DEFAULT NULL,
  `ass_status` varchar(30) NOT NULL DEFAULT 'ATIVO',
  `ass_data_cadastro` datetime NOT NULL,
  `ass_ultimo_uso` datetime DEFAULT NULL,
  `ass_tentativas_falha` int(11) NOT NULL DEFAULT 0,
  `ass_data_bloqueio` datetime DEFAULT NULL,
  `ass_motivo_bloqueio` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ass_id`),
  KEY `fun_id` (`fun_id`),
  KEY `usu_id` (`usu_id`),
  CONSTRAINT `assinatura_eletronica_ibfk_1` FOREIGN KEY (`fun_id`) REFERENCES `funcionarios` (`fun_id`) ON DELETE CASCADE,
  CONSTRAINT `assinatura_eletronica_ibfk_2` FOREIGN KEY (`usu_id`) REFERENCES `usuarios` (`usu_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assinatura_eletronica`
--

LOCK TABLES `assinatura_eletronica` WRITE;
/*!40000 ALTER TABLE `assinatura_eletronica` DISABLE KEYS */;
/*!40000 ALTER TABLE `assinatura_eletronica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrega_epis`
--

DROP TABLE IF EXISTS `entrega_epis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entrega_epis` (
  `entr_id` int(11) NOT NULL AUTO_INCREMENT,
  `fun_id` int(11) NOT NULL,
  `usu_id` int(11) NOT NULL,
  `ass_id` int(11) NOT NULL,
  `entr_data_entrega` datetime NOT NULL,
  `entr_hash_assinatura` varchar(255) NOT NULL,
  `entr_termo_ciencia` varchar(10) NOT NULL DEFAULT 'SIM',
  `entr_status` varchar(30) NOT NULL DEFAULT 'FINALIZADA',
  `entr_status_sinc` varchar(30) NOT NULL DEFAULT 'SINCRONIZADO',
  `entr_validacao_senha` varchar(30) NOT NULL DEFAULT 'VALIDADA',
  `entr_motivo` varchar(255) DEFAULT NULL,
  `entr_client_operation_id` varchar(36) DEFAULT NULL,
  `termo_id` int(11) DEFAULT NULL,
  `termo_versao` varchar(20) DEFAULT NULL,
  `texto_termo_snapshot` text DEFAULT NULL,
  `data_hora_aceite` datetime DEFAULT NULL,
  `metodo_aceite` varchar(30) DEFAULT NULL,
  `hash_termo` varchar(255) DEFAULT NULL,
  `entr_substituicao_vinculada` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`entr_id`),
  UNIQUE KEY `idx_entr_client_operation_id` (`entr_client_operation_id`),
  KEY `fun_id` (`fun_id`),
  KEY `usu_id` (`usu_id`),
  KEY `ass_id` (`ass_id`),
  KEY `fk_entrega_termo` (`termo_id`),
  CONSTRAINT `entrega_epis_ibfk_1` FOREIGN KEY (`fun_id`) REFERENCES `funcionarios` (`fun_id`),
  CONSTRAINT `entrega_epis_ibfk_2` FOREIGN KEY (`usu_id`) REFERENCES `usuarios` (`usu_id`),
  CONSTRAINT `entrega_epis_ibfk_3` FOREIGN KEY (`ass_id`) REFERENCES `assinatura_eletronica` (`ass_id`),
  CONSTRAINT `fk_entrega_termo` FOREIGN KEY (`termo_id`) REFERENCES `termos_responsabilidade` (`termo_id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrega_epis`
--

LOCK TABLES `entrega_epis` WRITE;
/*!40000 ALTER TABLE `entrega_epis` DISABLE KEYS */;
/*!40000 ALTER TABLE `entrega_epis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `epis`
--

DROP TABLE IF EXISTS `epis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `epis` (
  `epi_id` int(11) NOT NULL AUTO_INCREMENT,
  `epi_nome` varchar(100) NOT NULL,
  `epi_tipo_item` enum('EPI_COM_CA','ITEM_SEGURANCA_SEM_CA','UNIFORME','OUTRO') NOT NULL DEFAULT 'EPI_COM_CA',
  `epi_ca` varchar(30) DEFAULT NULL,
  `epi_vencimento_ca` date DEFAULT NULL,
  `epi_fabricante` varchar(100) NOT NULL,
  `epi_validade_uso_dias` int(11) NOT NULL,
  `epi_status` varchar(30) NOT NULL DEFAULT 'ATIVO',
  `epi_valor` decimal(10,2) NOT NULL DEFAULT 0.00,
  `epi_origem_preco` varchar(50) NOT NULL,
  `epi_localizacao` varchar(100) DEFAULT NULL,
  `epi_vida_util` int(11) DEFAULT NULL,
  `epi_vida_util_unidade` varchar(20) DEFAULT NULL,
  `epi_vida_util_tipo` varchar(30) DEFAULT 'CONTROLADO',
  `epi_vida_util_alerta` int(11) DEFAULT NULL,
  `epi_vida_util_obs` text DEFAULT NULL,
  `epi_numero_lote` varchar(100) DEFAULT NULL,
  `epi_modelo` varchar(150) DEFAULT NULL,
  `epi_identificacao` varchar(100) DEFAULT NULL,
  `epi_ref_fornecedor` varchar(150) DEFAULT NULL,
  `epi_exige_tamanho` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`epi_id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `epis`
--

LOCK TABLES `epis` WRITE;
/*!40000 ALTER TABLE `epis` DISABLE KEYS */;
/*!40000 ALTER TABLE `epis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `funcionarios`
--

DROP TABLE IF EXISTS `funcionarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `funcionarios` (
  `fun_id` int(11) NOT NULL AUTO_INCREMENT,
  `fun_nome` varchar(100) NOT NULL,
  `fun_cpf` varchar(11) NOT NULL,
  `fun_esocial` varchar(50) NOT NULL,
  `fun_departamento` varchar(100) NOT NULL,
  `fun_cargo` varchar(100) NOT NULL,
  `fun_dataadmissao` date NOT NULL,
  `fun_situacao` varchar(30) NOT NULL DEFAULT 'ATIVO',
  `fun_qrcode` varchar(100) NOT NULL,
  PRIMARY KEY (`fun_id`),
  UNIQUE KEY `fun_cpf` (`fun_cpf`),
  UNIQUE KEY `fun_qrcode` (`fun_qrcode`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `funcionarios`
--

LOCK TABLES `funcionarios` WRITE;
/*!40000 ALTER TABLE `funcionarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `funcionarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historico_preco_epi`
--

DROP TABLE IF EXISTS `historico_preco_epi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historico_preco_epi` (
  `hist_id` int(11) NOT NULL AUTO_INCREMENT,
  `epi_id` int(11) NOT NULL,
  `usu_id` int(11) NOT NULL,
  `hist_valor` decimal(10,2) NOT NULL,
  `hist_data_vigencia` datetime NOT NULL,
  `hist_origem` varchar(50) NOT NULL,
  `hist_nota_fiscal` varchar(50) DEFAULT NULL,
  `hist_fornecedor` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`hist_id`),
  KEY `epi_id` (`epi_id`),
  KEY `usu_id` (`usu_id`),
  CONSTRAINT `historico_preco_epi_ibfk_1` FOREIGN KEY (`epi_id`) REFERENCES `epis` (`epi_id`) ON DELETE CASCADE,
  CONSTRAINT `historico_preco_epi_ibfk_2` FOREIGN KEY (`usu_id`) REFERENCES `usuarios` (`usu_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historico_preco_epi`
--

LOCK TABLES `historico_preco_epi` WRITE;
/*!40000 ALTER TABLE `historico_preco_epi` DISABLE KEYS */;
/*!40000 ALTER TABLE `historico_preco_epi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itens_entrega`
--

DROP TABLE IF EXISTS `itens_entrega`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `itens_entrega` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `entr_id` int(11) NOT NULL,
  `epi_id` int(11) NOT NULL,
  `item_quantidade` int(11) NOT NULL DEFAULT 1,
  `item_data_devolucao` datetime DEFAULT NULL,
  `item_status` varchar(30) NOT NULL DEFAULT 'ENTREGUE',
  `item_numero_lote` varchar(100) DEFAULT NULL,
  `item_tamanho` varchar(20) DEFAULT NULL,
  `item_epi_nome_snapshot` varchar(100) DEFAULT NULL,
  `item_epi_descricao_snapshot` text DEFAULT NULL,
  `item_epi_fabricante_snapshot` varchar(100) DEFAULT NULL,
  `item_epi_modelo_snapshot` varchar(150) DEFAULT NULL,
  `item_epi_ca_snapshot` varchar(30) DEFAULT NULL,
  `item_epi_validade_ca_snapshot` date DEFAULT NULL,
  `item_epi_vida_util_snapshot` int(11) DEFAULT NULL,
  `item_epi_valor_snapshot` decimal(10,2) DEFAULT NULL,
  `item_epi_origem_preco_snapshot` varchar(50) DEFAULT NULL,
  `item_epi_localizacao_snapshot` varchar(100) DEFAULT NULL,
  `item_devolucao_motivo` varchar(50) DEFAULT NULL,
  `item_devolucao_condicao` varchar(30) DEFAULT NULL,
  `item_devolucao_destino` varchar(50) DEFAULT NULL,
  `item_devolucao_obs` text DEFAULT NULL,
  `item_devolucao_vinculo_entrega_id` int(11) DEFAULT NULL,
  `item_devolucao_vinculo_item_id` int(11) DEFAULT NULL,
  `item_devolucao_tipo_operacao` varchar(50) DEFAULT 'DEVOLUCAO_INDEPENDENTE',
  `item_motivo_entrega` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`item_id`),
  KEY `entr_id` (`entr_id`),
  KEY `epi_id` (`epi_id`),
  KEY `fk_item_devolucao_vinculo_entrega` (`item_devolucao_vinculo_entrega_id`),
  KEY `fk_item_devolucao_vinculo_item` (`item_devolucao_vinculo_item_id`),
  CONSTRAINT `fk_item_devolucao_vinculo_entrega` FOREIGN KEY (`item_devolucao_vinculo_entrega_id`) REFERENCES `entrega_epis` (`entr_id`),
  CONSTRAINT `fk_item_devolucao_vinculo_item` FOREIGN KEY (`item_devolucao_vinculo_item_id`) REFERENCES `itens_entrega` (`item_id`),
  CONSTRAINT `itens_entrega_ibfk_1` FOREIGN KEY (`entr_id`) REFERENCES `entrega_epis` (`entr_id`) ON DELETE CASCADE,
  CONSTRAINT `itens_entrega_ibfk_2` FOREIGN KEY (`epi_id`) REFERENCES `epis` (`epi_id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itens_entrega`
--

LOCK TABLES `itens_entrega` WRITE;
/*!40000 ALTER TABLE `itens_entrega` DISABLE KEYS */;
/*!40000 ALTER TABLE `itens_entrega` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_auditoria`
--

DROP TABLE IF EXISTS `log_auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `log_auditoria` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `usu_id` int(11) DEFAULT NULL,
  `fun_id` int(11) DEFAULT NULL,
  `epi_id` int(11) DEFAULT NULL,
  `entr_id` int(11) DEFAULT NULL,
  `item_id` int(11) DEFAULT NULL,
  `ass_id` int(11) DEFAULT NULL,
  `hist_id` int(11) DEFAULT NULL,
  `log_acao` varchar(100) NOT NULL,
  `log_datahora` datetime NOT NULL,
  `log_tabela` varchar(50) NOT NULL,
  `log_registro_id` int(11) DEFAULT NULL,
  `log_detalhes` text DEFAULT NULL,
  PRIMARY KEY (`log_id`),
  KEY `usu_id` (`usu_id`),
  KEY `fun_id` (`fun_id`),
  KEY `epi_id` (`epi_id`),
  KEY `entr_id` (`entr_id`),
  KEY `item_id` (`item_id`),
  KEY `ass_id` (`ass_id`),
  KEY `hist_id` (`hist_id`),
  CONSTRAINT `log_auditoria_ibfk_1` FOREIGN KEY (`usu_id`) REFERENCES `usuarios` (`usu_id`) ON DELETE SET NULL,
  CONSTRAINT `log_auditoria_ibfk_2` FOREIGN KEY (`fun_id`) REFERENCES `funcionarios` (`fun_id`) ON DELETE SET NULL,
  CONSTRAINT `log_auditoria_ibfk_3` FOREIGN KEY (`epi_id`) REFERENCES `epis` (`epi_id`) ON DELETE SET NULL,
  CONSTRAINT `log_auditoria_ibfk_4` FOREIGN KEY (`entr_id`) REFERENCES `entrega_epis` (`entr_id`) ON DELETE SET NULL,
  CONSTRAINT `log_auditoria_ibfk_5` FOREIGN KEY (`item_id`) REFERENCES `itens_entrega` (`item_id`) ON DELETE SET NULL,
  CONSTRAINT `log_auditoria_ibfk_6` FOREIGN KEY (`ass_id`) REFERENCES `assinatura_eletronica` (`ass_id`) ON DELETE SET NULL,
  CONSTRAINT `log_auditoria_ibfk_7` FOREIGN KEY (`hist_id`) REFERENCES `historico_preco_epi` (`hist_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=400 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_auditoria`
--

LOCK TABLES `log_auditoria` WRITE;
/*!40000 ALTER TABLE `log_auditoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operacoes_idempotentes`
--

DROP TABLE IF EXISTS `operacoes_idempotentes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `operacoes_idempotentes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_operation_id` varchar(100) NOT NULL,
  `tipo_operacao` varchar(50) NOT NULL,
  `usuario_id` int(11) NOT NULL,
  `funcionario_id` int(11) NOT NULL,
  `status` varchar(30) NOT NULL,
  `request_hash` varchar(64) DEFAULT NULL,
  `entrega_id` int(11) DEFAULT NULL,
  `devolucao_id` int(11) DEFAULT NULL,
  `data_hora_inicio` datetime NOT NULL,
  `data_hora_conclusao` datetime DEFAULT NULL,
  `codigo_resultado` varchar(50) DEFAULT NULL,
  `resposta_json` longtext DEFAULT NULL,
  `erro_referencia` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `client_operation_id` (`client_operation_id`),
  KEY `usuario_id` (`usuario_id`),
  KEY `funcionario_id` (`funcionario_id`),
  CONSTRAINT `operacoes_idempotentes_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`usu_id`),
  CONSTRAINT `operacoes_idempotentes_ibfk_2` FOREIGN KEY (`funcionario_id`) REFERENCES `funcionarios` (`fun_id`)
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operacoes_idempotentes`
--

LOCK TABLES `operacoes_idempotentes` WRITE;
/*!40000 ALTER TABLE `operacoes_idempotentes` DISABLE KEYS */;
/*!40000 ALTER TABLE `operacoes_idempotentes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `termos_responsabilidade`
--

DROP TABLE IF EXISTS `termos_responsabilidade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `termos_responsabilidade` (
  `termo_id` int(11) NOT NULL AUTO_INCREMENT,
  `termo_codigo` varchar(50) NOT NULL,
  `termo_versao` varchar(20) NOT NULL,
  `termo_titulo` varchar(100) NOT NULL,
  `termo_texto_completo` text NOT NULL,
  `termo_data_inicio_vigencia` datetime NOT NULL,
  `termo_data_fim_vigencia` datetime DEFAULT NULL,
  `termo_status` varchar(20) NOT NULL DEFAULT 'ATIVO',
  `usu_cadastro_id` int(11) NOT NULL,
  `termo_data_hora_cadastro` datetime NOT NULL,
  PRIMARY KEY (`termo_id`),
  KEY `usu_cadastro_id` (`usu_cadastro_id`),
  CONSTRAINT `termos_responsabilidade_ibfk_1` FOREIGN KEY (`usu_cadastro_id`) REFERENCES `usuarios` (`usu_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `termos_responsabilidade`
--

LOCK TABLES `termos_responsabilidade` WRITE;
/*!40000 ALTER TABLE `termos_responsabilidade` DISABLE KEYS */;
/*!40000 ALTER TABLE `termos_responsabilidade` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `usu_id` int(11) NOT NULL AUTO_INCREMENT,
  `usu_login` varchar(50) NOT NULL,
  `usu_senha_hash` varchar(255) NOT NULL,
  `usu_perfil` varchar(30) NOT NULL,
  `usu_status` varchar(20) NOT NULL DEFAULT 'ATIVO',
  `usu_data_cadastro` datetime NOT NULL,
  `usu_tentativas_falha` int(11) NOT NULL DEFAULT 0,
  `usu_data_bloqueio` datetime DEFAULT NULL,
  `usu_motivo_bloqueio` varchar(255) DEFAULT NULL,
  `usu_exige_troca_senha` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`usu_id`),
  UNIQUE KEY `usu_login` (`usu_login`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vw_funcionarios_mascarado`
--

DROP TABLE IF EXISTS `vw_funcionarios_mascarado`;
/*!50001 DROP VIEW IF EXISTS `vw_funcionarios_mascarado`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_funcionarios_mascarado` AS SELECT
 1 AS `fun_id`,
  1 AS `fun_nome`,
  1 AS `fun_cpf`,
  1 AS `fun_esocial`,
  1 AS `fun_departamento`,
  1 AS `fun_cargo`,
  1 AS `fun_dataadmissao`,
  1 AS `fun_situacao`,
  1 AS `fun_qrcode` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_funcionarios_mascarado`
--

/*!50001 DROP VIEW IF EXISTS `vw_funcionarios_mascarado`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_funcionarios_mascarado` AS select `funcionarios`.`fun_id` AS `fun_id`,`funcionarios`.`fun_nome` AS `fun_nome`,concat('***.***.***-',right(`funcionarios`.`fun_cpf`,2)) AS `fun_cpf`,concat('***.***.',right(`funcionarios`.`fun_esocial`,4)) AS `fun_esocial`,`funcionarios`.`fun_departamento` AS `fun_departamento`,`funcionarios`.`fun_cargo` AS `fun_cargo`,`funcionarios`.`fun_dataadmissao` AS `fun_dataadmissao`,`funcionarios`.`fun_situacao` AS `fun_situacao`,`funcionarios`.`fun_qrcode` AS `fun_qrcode` from `funcionarios` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-10 11:46:16
